@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GravitasOne-Regular';
    src: url('../fonts/GravitasOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Georgia';
    color: white;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-family: 'Georgia';
    font-size: 24px;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}